<tr>
  <td><%= service.id %></td>
  <td><%= service.admin_user %></td>
  <td><%= service.domain_name %></td>
  <td><%= service.doc_service_name %></td>
  <td><%= service.osn_service_name %></td>
  <td><%= service.service_created_at %></td>
  <td><%= service.is_terminated %></td>
  <td><%= service.instances_per_account %></td>
</tr>
