<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Admin user</th>
      <th>Domain name</th>
      <th>Doc service name</th>
      <th>Osn service name</th>
      <th>Service created at</th>
      <th>Is terminated</th>
      <th>Instances per account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.admin_user %></td>
        <td><%= service.domain_name %></td>
        <td><%= service.doc_service_name %></td>
        <td><%= service.osn_service_name %></td>
        <td><%= service.service_created_at %></td>
        <td><%= service.is_terminated %></td>
        <td><%= service.instances_per_account %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
